.map-container {
  border: 1px solid #979797;
  padding: 10px 0;
  border-radius: 10px;

  .map {
    display: flex;
    align-items: center;
    flex-direction: column;

    .map-header {
      display: flex;
      align-items: center;
      width: 100%;
      padding-bottom: 10px;
      justify-content: center;
      border-bottom: 1px solid #979797;

      .map-header-item {
        width: 50px;
        height: 50px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin: 10px;
        cursor: pointer;
      }

      .map-header-item.green {
        background-color: #117511;
      }

      .map-header-item.yellow {
        background-color: #e6e621;
      }

      .map-header-item.orange {
        background-color: orange;
      }

      .map-header-item.red {
        background-color: #d81717;
      }
    }

    .map-content {

      .map-dot {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid #979797;
        cursor: pointer;

        .map-dot-time {
          height: 40px;
          margin-top: -20px;
          font-size: 16px;
          margin-left: -9px;
        }

        .map-dot-mess {
          background-color: #ffffff;
          border-radius: 5px;
          margin-top: -20px;
          margin-left: -50px;
          font-size: 16px;
          width: 120px;
          height: 60px;
          padding: 10px;
          padding-top: 20px;
          border: 1px solid #979797;
          position: relative;

          .map-dot-mess-close {
            position: absolute;
            text-align: center;
            z-index: 5;
            width: 15px;
            height: 20px;
            top: 5px;
            right: 5px;
          }
        }
      }

      .map-dot.green {
        background-color: #117511;
      }

      .map-dot.yellow {
        background-color: #e6e621;
      }

      .map-dot.orange {
        background-color: orange;
      }

      .map-dot.red {
        background-color: #d81717;
      }

    }

    .map-share {
      width: 100%;
      border-top: 1px solid #979797;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}