.map-container {
  display: flex;
  align-items: center;
  justify-content: center;  
  padding: 10px 0;
  width: 100%;
  border-radius: 10px;

  .map-block-updated {
    color: #ffffff;
    font-weight: 500;
    text-align: center;
  }

  .map-wrap-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .map {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;

    .map-content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .scroll-content {
      position: absolute;

      .line {
        position: absolute;
        width: 100%;
        top:20px;
        border-bottom:  1px solid red;
      }
    }

    .map-header {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      justify-content: center;
      // border-bottom: 1px solid #979797;

      .map-header-item {
        width: 50px;
        height: 50px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin: 10px;
        cursor: pointer;
      }

      .map-header-item.green {
        background-color: #117511;
      }

      .map-header-item.yellow {
        background-color: #e6e621;
      }

      .map-header-item.orange {
        background-color: orange;
      }

      .map-header-item.red {
        background-color: #d81717;
      }
    }

    .map-content {

      .map-dot {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid #979797;
        cursor: pointer;

        .map-dot-time {
          height: 20px;
          width: 50px;
          text-align: center;
          margin-top: -45px;
          font-size: 16px;
          margin-left: -15px;
          color: black !important;
          background-color: #ffffff;
          border: 1px solid #979797;
        }

        img {
          height: 100%;
        }

        .map-dot-mess {
          background-color: #ffffff;
          border-radius: 5px;
          margin-top: -20px;
          margin-left: -50px;
          font-size: 16px;
          width: 120px;
          height: auto;
          padding: 10px;
          padding-top: 20px;
          border: 1px solid #979797;
          position: relative;
          z-index: 10;

          .map-dot-mess-close {
            position: absolute;
            text-align: center;
            z-index: 5;
            width: 15px;
            height: 20px;
            top: 5px;
            right: 5px;
          }
        }
      }

      .map-dot.yellow {
        background-color: #e6e621;
      }

    }

    .map-share {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .operator-container-button {
      position: inherit;
    }
  }
}

.map-content-scroll {
  height: 500px;
  width: 860px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    position: absolute;
    left: 0px;
    /* right: 0; */
    top: 0px;
  }
}