.local-map-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .local-map {
        background-color: #ffffff;
        position: relative;
        height: 228px;
        width: 304px;
        display: flex;
        flex-wrap: wrap;

        img {
            height: 235px;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 100%;
            padding: 10px 0;
        }

        .local-map-grid {
            position: relative;
            border: 1px dashed #6f6b6b;
            cursor: pointer;
            width: 76px;
            height: 76px;
            z-index: 1;
        }

        .local-map-grid:after {
            width: 0px;
            height: 100%;
            top: 0;
            left: 0;
            background: #ffe750a3;
            content: '';
            position: absolute;
            z-index: -1;
            transition: width 10s;
        }

        .local-map-grid.red:after {
            width: 0px;
            height: 100%;
            top: 0;
            left: 0;
            background: #ff0000bd;
            content: '';
            position: absolute;
            z-index: -1;
            transition: width 10s;
        }

        .local-map-grid.orange:after {
            width: 0px;
            height: 100%;
            top: 0;
            left: 0;
            background: #ffa500ab;
            content: '';
            position: absolute;
            z-index: -1;
            transition: width 10s;
        }
    
        // .operator-container-button.icon:hover, 
        .local-map-grid.active:after {
            width: 100% !important;
            z-index: 1 !important;
            transition: width 10s;
        }
    }

    .operator-container-button.icon {
        position: relative;
        overflow: hidden;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 15px;
        bottom: 0;
        span {
            padding-left: 15px;
            z-index: 2;

        }

        img {
            width: 40px;
            z-index: 2;
        }
    }

    .local-map-report-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        .local-map-report {
            background-color: #00000094;
            border-radius: 5px;
            height: 200px;
            width: 100%;

            textarea {
                width: 100%;
                height: 80%;
                background-color: #ffffff00;
                border: 0px;
                resize: none;
                padding: 15px;
                color: #ffffff !important;
                outline: none;
            }

            textarea::-webkit-input-placeholder {
                color: #ffffff;
            }
                
        }

        .operator-container-button.white {
            position: inherit;
            margin: 15px 0;
            background-color: #ffffff;
        }
    }

    .operator-container-button.icon:after {
        width: 0px;
        height: 100%;
        top: 0;
        left: 0;
        background: #6650ff;
        content: '';
        position: absolute;
        z-index: -1;
    }

    .operator-container-button.icon.active:after {
        width: 100% !important;
        z-index: 1 !important;
        transition: width 10s;
    }

    .local-map-report-icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        div {
            margin-right: 5px;

        }

        .local-map-report-icon {
            margin-right: 5px;
            color: #ffffff;
            cursor: pointer;
        }
    }
}

.snackbar {
    background-color: green;
}

#message-id {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    span {
        margin-left: 20px;
        font-weight: 500;
        font-size: 17px;
    }
}
