body {
  font-family: Montserrat !important;

  .main-page-container {
    background-size: cover;
    background-image:  url('./img/Layer0.png');
    background-size: cover;
    background-attachment: fixed;

    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    overflow: auto;
    // display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4e3cc2;
    // justify-content: center;
  }

}